@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  & > div {
    overflow-x: hidden;
  }
}
.MuiAutocomplete-paper {
  border: 2px solid green;
}
.MuiAutocomplete-popper {
  gap: 5px;
  background-color: aqua;
}
